{% extends '::base.html.twig' %}

{# Loading stylesheet for this view #}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/task.css') }}">
{% endblock %}

{# Body of a task #}
{% block body %}
    <div id="container">
        <h2><a href="{{ path('todo_task_list') }}"><span style="margin-right: 10px;"><</span>Retour à la liste des tâches</a></h2>
        <hr/>
        <div id="task">
            <section id="task-head">
                <h5>{{ task.title }}</h5>
                <p>{{ task.endDate|date('d-m-Y') }}</p>
            </section>
            <p id="task-description">
                {{ task.description }}
            </p>
        </div>
        <div id="task-commands">
            <a href="{{ path('todo_edit_task', {'id': task.id}) }}" class="command-btn"><img src="{{ asset('img/edit-button.png') }}" alt="Éditer la tâche"/></a>
            <a href="{{ path('todo_remove_task', {'id': task.id}) }}" class="command-btn"><img src="{{ asset('img/delete-button.png') }}" alt="Supprimer la tâche"/></a>
        </div>
    </div>
{% endblock %}

