<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}La Todolist !{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">
    </head>
    <body>
        <header>
            <a href="{{ path("todo_home") }}" title="Accueil"><h1>TodoList</h1></a>
            <div id="user-space">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p class="profile"><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username|upper }}</a></p>
                    <a href="{{ path("fos_user_security_logout") }}"><img src="{{ asset('img/logout.png') }}" alt="Déconnexion" class="loggout-btn"/></a>
                {% else %}
                    <a class="button login-btn" href="{{ path("fos_user_security_login") }}">Se connecter</a>
                    <a class="button registration-btn" href="{{ path("fos_user_registration_register") }}">S'inscrire</a>
                {% endif %}
            </div>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
